body {
    height: 100vh; 
    margin: 0; 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 2.5);
    backdrop-filter: blur(4px);
}

#login-btn, #register-btn {
    width: 100px;
    margin-right: 10px;
}

#login-btn.active {
    background-color: #3FBBC0;
    color: #fff;
}

#register-btn.active {
    background-color: #3FBBC0;
    color: #fff;
}

#login-btn:hover, #register-btn:hover {
    background-color: #e9ecef;
}

.btn-link.active {
    color: red;
    font-weight: bold;
}

.btn-link {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.btn-link:hover, .btn-link:focus {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.form-group {
    margin-bottom: 25px;
}
/* <!--  this style to hide the toggle icon initially --> */

.password-toggle-icon {
    display: none;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 3px;
}

#login-form, #register-form{
    padding: 15px ;
}
 /* #register-form{
  display:none
} */

.btn-primary.login-btn,.btn-primary.register-btn {
    background-color: #3FBBC0;
    border-color: #ffffff;
}

.btn-primary.login-btn:hover,.btn-primary.register-btn:hover {
    background-color: #2E9EA3;
    border-color: #ffffff;
}
.card {
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-group-icon {
    position: absolute;
    left: 0;
    padding: 0.375rem 0.75rem;
    pointer-events: none;
    color: #6c757d;
  }
  
  .input-group input {
    padding-left: 2.5rem;
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle-icon i {
    font-size: 1.2em;
    color: #ccc;
    transition: all 0.3s ease-in-out;
  }
  
  .form-control {
    padding-right: 40px; 
    position: relative; 
  }
  
  .form-control .input-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    font-size: 18px;
    line-height: 36px; 
    text-align: center; 
    pointer-events: none; 
  }
  
  
  .form-control:focus + .password-toggle-icon i {
    color: #3FBBC0;
  }
  
  .form-control:focus + .password-toggle-icon i.fa-eye {
    display: none;
  }
  
  .form-control:focus + .password-toggle-icon i.fa-eye-slash {
    display: block;
  }
  
  .input-group-text {
    width: 40px;
    height: 41px;
    border: none;
    border-radius: none
  }