<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-2">
  <!-- Brand Logo -->
  <a href="index.html" class="brand-link">
    <!-- <img src="dist/img/AdminLTELogo.png" alt="DR. HANAA DRAA" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
    <span class="brand-text font-weight-bolder">DR. HANAA DRAA</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="./dist/img/avatar2.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">
          <% if (user.role = 1) { %>
              <%= user.firstName + " " + user.lastName %>
          <% }else if(user.role = 2){ %>
            Dr <%= user.firstName + " " + user.lastName %>
          <% } %>
           </a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Rechercher" aria-label="Rechercher">
        <div class="input-group-append">
          <button title="sidebar" class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>
              Tableau de bord
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="./Doctors" class="nav-link">
            <i class="nav-icon fas fa-user-md"></i>
            <p>
              Médecins
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="./Assistant" class="nav-link">
            <i class="nav-icon fas fa-user-secret"></i>
            <p>
              Secrétaires
            </p>
          </a>
        </li>        
        <li class="nav-item">
          <a href="./Patients" class="nav-link">
            <i class="nav-icon fas fa-procedures"></i>
            <p>
              Patients
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="./Certificates" class="nav-link">
            <i class="nav-icon fas fa-certificate"></i>
            <p>
              Certificats
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="./Experiances" class="nav-link">
            <i class="nav-icon fas fa-briefcase"></i>
            <p>
              Expériences
            </p>
          </a>
        </li>
        <li class="nav-header">Discussion</li>
        <li class="nav-item">
          <a href="./Chat" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Discussion
              <!-- <span class="badge badge-info right">2</span> -->
            </p>
          </a>
        </li>
      </ul>
    </nav>
    
    
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
